@model SchoolWebApp.Models.News

@{
    ViewBag.Title = "إضافة";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<script src="~/Scripts/ckeditor/ckeditor.js"></script>

<div class="thumbnail" style="padding-bottom:100px;padding-right:0px ;">
    <div style="background:url('../../Content/images/about_schools.jpg') center ;height:200px;">
    </div>

    <div class="col-md-12" style="background-color:lavender; margin-top:5px;padding-top:5px; height:50px;">

        <h2 style="text-align:center">
            <span class="glyphicon glyphicon-plus"></span>
            إضافة خبر جديد   &nbsp;&nbsp;
        </h2>

    </div>
    @using (Html.BeginForm("Create", "News", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal" style="padding-right:100px;text-align:right;font-weight:bolder;font-size:large">
            <hr />
            <div class="alert alert-danger " id="ErrorDiv" style="display:none">
                <span id="error"></span>
            </div>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.NewsTitle, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NewsTitle, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NewsTitle, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.NewsSummary, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NewsSummary, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NewsSummary, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NewsDetails, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.NewsDetails, new { htmlAttributes = new { @class = "form-control", @id = "NewsDetails" } })
                    @Html.ValidationMessageFor(model => model.NewsDetails, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NewsImage, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" name="upload" id="upload-file">
                    @Html.ValidationMessageFor(model => model.NewsImage, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.NewsTypesID, "نوع الخبر", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("NewsTypesID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.NewsTypesID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="اضافة" id="save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <p class="col-md-2 btn-lg btn-primary" role="button" style="margin-right:10px;text-align:right">

        <span class="glyphicon glyphicon-share-alt"></span>
        &nbsp;

        @Html.ActionLink("العودة إلى القائمة ", "Index", null, new { @style = "color:black;font-weight:500" })

    </p>

</div>

@section scripts{

    <script>

        $(function () {
            $("#save").click(function () {
                if ($("#upload-file").val() == "") {
                    $("#ErrorDiv").fadeIn();
                    $("#error").append("قم بتحميل صورة مناسبة للخبر");
                    return false;

                }
                var filename = document.getElementById("upload-file").value;
                var extensionImg = filename.substr(filename.lastIndexOf('.') + 1);
                var validextention = ['jpg', 'jepj', 'png', 'gif', 'bmp'];
                if ($.inArray(extensionImg, validextention) == -1) {

                    $("#ErrorDiv").fadeIn();
                    $("#error").append("قم بتحميل صورة مناسبة للخبر");
                    return false;
                }
                var filesize = document.getElementById("upload-file").files[0].size / 1024 / 1024;
                if (filesize > 2) {

                    $("#ErrorDiv").fadeIn();
                    $("#error").append("هذه الصورة ذات حجم كبير.");
                    return false;
                }


            });


        });
        CKEDITOR.replace("NewsDetails");

    </script>
}
