@model SchoolWebApp.Models.NewsTypes

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@{
    ViewBag.Title = "إضافة";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="thumbnail" style="padding-bottom:100px;padding-right:0px ;">
    <div style="background:url('../../Content/images/about_schools.jpg') center ;height:200px;">
    </div>

    <div class="col-md-12" style="background-color:lavender; margin-top:5px;padding-top:5px; height:50px;">

        <h2 style="text-align:center">
            <span class="glyphicon glyphicon-plus"></span>
            إضافة صنف جديد   &nbsp;&nbsp;
        </h2>

    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal" style="padding-right:100px;text-align:right">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.NewsTypeName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NewsTypeName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NewsTypeName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NewsTypeDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NewsTypeDescription, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NewsTypeDescription, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10" style="padding-bottom:10px">
                    <input type="submit" value="إنشاء" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    <p class="col-md-2 btn-lg btn-primary" role="button" style="margin-right:10px;text-align:right">

        <span class="glyphicon glyphicon-share-alt"></span>
        &nbsp;

        @Html.ActionLink("العودة إلى القائمة ", "Index", null, new { @style = "color:black;font-weight:500" })

    </p>

</div>
